.content{
    width:75%;
}

.content--header {
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* gap: 1.2rem; */
}

 
.header--title {
    color: #9057af;

}

.header--activity {
    display: flex;
    align-items: center;
    gap:20px;
} 

.search-box {
    background:#e5d6ee;
    border-radius:10px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
}


.search-box input {
    border: none;
    outline: none;
    background: transparent;
    color: #9057af;
    font-weight:500;

}

.search-box input::placeholder {
    color: #af8ca5;
}

.search-box .icon {
    color: #9057af;
    font-size: 21px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.notify {
    background:#e5d6ee ;
    border-radius: 10px;
    padding: 5px;
    font-size: 21px;
    color: #9057af;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 0.5s ease-in-out; */
}

.notify .icon {
transition: 0.5s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
}


/* Card Container */
.card--container {
    display:flex;
    gap:26px;
    align-items:center;
    margin-top:2.3rem;
}

.card {
    flex: 1;
    background: #c09fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease-in-out;

}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;

}

.card--cover {
    background: #fff;
    font-size: 2.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 3px;
    border-radius: 20px;
}

.cards--title {
    /* background: #ffffffc0; */
    width: 100%;
    align-items: center;
    gap:5px;
    justify-content: space-around;
    text-align: left;
    padding: 5px 0;
    /* font-size: 14px; */
    color: #062b00;

}

.cards--title h5 {
    font-weight: 600;
    font-size: 1.5rem;
}

.cards--title .time {
    font-size:0.9rem;
    color:brown;
}

.cards--title .dot {
    color: #c09fff;
}


/* Teachers */

.teachers--content{
margin-top: 1.2rem;
}

.list--header {
    display: flex;
    margin: 2rem 0;
    justify-content:space-between;
}

.list--header h2 {
    color: brown;
}

.list--header select {
    border-radius: 10px;
    /* border:none; */
    padding: 8px 12px;
    /* background-color:#e5d6ee; */
    outline: none;
    border-radius: 1px solid brown;
}

.list--container {
    display: flex;
    flex-direction: column;
    gap:15px;
}

.list {
    display:flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-around ;
    padding: 10px 0;
    /* margin:5px; */
    background: #f2f0f7;
    border-radius: 19px;
    transition: 0.3s ease-in-out;
}

.list:hover {
    transform : scale(1.027);
}

.list .teacher--details {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.2rem;
}
/* 
.list .teacher--details img {
    border-radius: 50px;
} */

.list {

}

.list--container .list img {
    width:10.9rem;
    height:auto;
}