.menu{
    display:flex;
    flex-direction: column;
    gap: 1.7rem;
    height: 94vh;
}

/* Add this to your existing sidebar.css */
.menu--list .item.active {
    background-color: #062b29;
    color: #b99cca;
  }

.logo{
    text-align: center;
    padding: 20px;
    color:#062b29;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;

}

.logo h2 {
    font-weight: 900;
}

.logo .logo-icon {
    width:60px;
    height:auto;
    border-radius: 10px;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap:20px;
}  


.menu--list .item {
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600 ;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    color:#062b29;
    /* background-color: aqua; */
}

.menu--list .item:hover {
    background-color:#062b29;
    color: #b99cca;
}



.menu--list .item .icon {
    font-weight: 100;
}