.collection {

}

.dashboard {
  display: flex;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  height: calc(100vh - 42px);
}

.dashboard--content {
  background: var(--background-light);
  flex: 1;
  border-radius: 20px;
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.footer-content {
  border: 2px solid white;
  margin-top: 15px;
  margin-bottom:5px;
  padding-top: 30px;
  border-radius:25px;
  height: 20%;
  text-align: center;
}

.footer-content p {
  padding: 5px 20px;

}

.profile {
  color: var(--primary);
  font-weight: 200;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    height: auto;
  }

  .dashboard--content {
    padding: 1.5rem;
  }
}
