@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;

}
body {
  background: #d9b6ec;;
  padding:21px;
}